* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fafafa;
    font-family: 'Poppins';
}

@font-face {
    font-family: 'Poppins';
    src: url("../public/font/Poppins-Medium.ttf");
}
